EKKO_ASR_SERVICE_TOKEN=
EKKO_ASR_MODEL_PATH=./models/faster-whisper/large-v3
EKKO_ASR_DEVICE=cuda
EKKO_ASR_COMPUTE_TYPE=float16
EKKO_ASR_DEFAULT_LANGUAGE=zh
EKKO_ASR_BEAM_SIZE=5
EKKO_ASR_VAD_FILTER=true
